@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:wght@200;300;400;500;600;700;800&family=Signika:wght@300..700&display=swap');

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'), local('Helvetica Neue'), local('Helvetica'), local('Arial'), sans-serif;
  font-weight: normal;
  font-style: normal;
}

