@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

@font-face {
  font-family: 'SF Pro Display';
  src: local('SF Pro Display'), local('Helvetica Neue'), local('Helvetica'), local('Arial'), sans-serif;
  font-weight: normal;
  font-style: normal;
}
